h1 {
    width: 75%;
    margin: 5% auto
}
body {
    
}
main {
    width: 75%;
    margin: 5% auto;
    background: pink;
}

article {
    margin: 1% auto;
    border: solid grey 2px;
    width: 60%;
    background: white;
}

article h3 {
    font-style: sans j;
}

article:hover {
background: grey;
}

article:hover h3 {
    color: blue;
}
