* {
  color: red;
}

body {
  font-family: 'Raleway', sans-serif;
background-image: url(Jordanwallpaper2.jpg);
background-repeat: no-repeat;
background-size: 45%;
background-position: 300px;
background-color: black;
}

header {
  text-align: center;
  font-size: 36;
}
